body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background-color: peachpuff;
    color: darkgreen;
}
}

section {
    display: flex;
}

form {
    display:flex;
    justify-content: center;
    flex-direction: column;
}